In [1]:
print("hello world")

hello world

In [1]:
#import and read csv file
import pandas as pd
df = pd.DataFrame({"Aob ": [1, 2, 3], "B": [4, 5, 6]})
print(df.head())
df.rename(columns={"Aob ": "a", "B": "c"})
iris = pd.read_csv('data/iris.csv')
iris

   Aob   B
0     1  4
1     2  5
2     3  6

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2         se
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
#display the species setosa
iris[iris["species"] == "setosa"]

    sepal_length  sepal_width  petal_length  petal_width species
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [ ]:
iris['species']

In [ ]:
iris[['petal_length','petal_width']]

In [ ]:
iris.iloc(0)

In [ ]:
iris.iloc[0]

In [ ]:
iris.loc[0:2]

In [ ]:
iris.iloc[0:4:2]

In [ ]:
iris.head()

In [ ]:
iris.dtype

In [ ]:
iris.merge(iris, how="outer", on = ["species", "petal_width"])

In [ ]:
#Group the Iris dataset by the "species" column and calculate the mean of each numeric column for each species.
specie =  iris.groupby("species").apply("mean")
specie

In [ ]:
#Group the Iris dataset by the "species" column and calculate the median of each numeric column for each species.
specie = iris.groupby("species").apply("median")
specie

In [20]:
#Group the Iris dataset by both "sepal length" and "petal width" columns. Calculate the mean sepal width for each group.
df_both = iris.groupby(["sepal_length", "petal_width"])["sepal_width"].mean().reset_index()
df_both["sepal_width"].reset_index()

     index  sepal_width
0        0     3.000000
1        1     3.033333
2        2     2.300000
3        3     3.300000
4        4     3.400000
..     ...          ...
105    105     3.000000
106    106     2.800000
107    107     3.800000
108    108     2.800000
109    109     3.800000

[110 rows x 2 columns]

In [31]:
#Group the Iris dataset by "species" and calculate the count of samples in each species.
iris.groupby(["species"])["sepal_length"].count()

species
se             1
setosa        49
versicolor    50
virginica     50
Name: sepal_length, dtype: int64

In [42]:
#Group the Iris dataset by "species" and filter the groups to include only those with an average sepal width greater than 3.0.
gby = iris.groupby("species")["sepal_width"].mean().reset_index()
gby[gby["sepal_width"] > 3.0]["species"]

0        se
1    setosa
Name: species, dtype: object

In [70]:
#Group the Iris dataset first by "species" and then within each species group by "petal length." Calculate the total count of samples for each combination.
specie = iris.groupby(["species"]).count().reset_index()
specie.rename(columns = {'sepal_length' : 'count'}, inplace=True)
specie[["species", "count"]]

      species  count
0          se      1
1      setosa     49
2  versicolor     50
3   virginica     50

In [75]:
#Group the Iris dataset by "species" and calculate the percentage contribution of each species to the total sepal width.
sum = iris["sepal_width"].sum()
spec = (iris.groupby(["species"])["sepal_width"].sum() / sum) * 100
spec

species
se             0.764025
setosa        36.542240
versicolor    30.233573
virginica     32.460162
Name: sepal_width, dtype: float64

In [79]:
# Group the Iris dataset by "sepal length" and calculate both the mean and standard deviation of petal width for each group.
mean = iris.groupby("species")["petal_width"].mean()
stddvt = iris.groupby("species")["petal_width"].std()

species
se                 NaN
setosa        0.353028
versicolor    1.523753
virginica     2.300650
Name: petal_width, dtype: float64